.custom-footer{
  width: 215vh;
}
.graphic-side{
  height:1040px;
  width: 1040px;
}

.signup{
  padding: 50px;
  width: 100%;
}

.custom-date-picker {
  width: 305px !important;
}

@media (max-width: 768px) {
  .custom-date-picker {
    width: 470px !important;
  }
}