
.navbar {
  padding-top: 52px;
  padding-bottom: 5px;
  height: 100px;
}
.container-fluid{
  height: 150px;
  padding-bottom: 10px !important;
}
.nav-item {
  display: flex;
  align-items: center;
}

.blood-donor-logo {
  width: 150px;
  height: auto;
}

.nav-link {
  position: relative;
  color: white !important;
  margin-right: 15px;
  font-size: 20px !important;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  text-decoration: none;
  color: white !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  background: red;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 80%;
}

.nav-link.active::after {
  width: 80%;
}

.nav-button {
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: 20px !important;
  transition: background-color 0.3s ease;
}



.nav-button:hover {
  background-color: darkred;
}
.blood-donor-logo{
  padding-top: 20px;
}
@media (max-width : 768px){
  .container-fluid{
    padding-bottom: 110px;
  }
  .blood-donor-logo{
    padding-top: 2px;
  }
  

}