.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-media {
  padding-top: 56.25%; 
}

.card-content {
  flex-grow: 1;
}

.status {
  margin-top: 16px;
  padding: 8px;
  border-radius: 4px;
  color: white;
}

.status.pending {
  background-color: #ff9800; 
}
.status.fulfilled {
  background-color: #4caf50; 
}

.mt-32 {
  margin-top: 32px;
}

.mb-4 {
  margin-bottom: 16px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-number {
  margin-left: 8px;
}



.custom-footer{
  position: static;
  bottom: 0;
  margin-top: 56px;
}