.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff; 
}

.content-container {
  flex: 1; 
  padding-bottom: 300px; 
  color: #000; 
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff; 
}

.card-media {
  padding-top: 56.25%; 
}

.card-content {
  flex-grow: 1;
  color: #000; 
}
.status-container {
  margin-top: 16px;
}
.status {
  margin-top: 16px;
  padding: 8px;
  border-radius: 4px;
  color: white;
}

.status.pending {
  background-color: #ff9800; 
}

.rating {
  display: flex;
  align-items: center;
}

.rating-number {
  margin-left: 8px;
}

.no-hospitals {
  color: #000;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.donate-btn{
  padding-top: 20px;
  padding-bottom: 410px;
  background-color: #ccc;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
  margin-left: 120px !important;
}

.custom-footer {
  background-color: #212529;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}

.footer-links a {
  color: #ccc !important;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}

.footer-links a:hover {
  color: #fff !important;
}

.footer-copy {
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
}


@media (max-width: 768px) {
  .carousel-inner{
    width: 550px;
  }

  .footer-container{
    justify-content: center;
    width: 280px;
    padding-left: 200px;
  }
  .footer-title {
    font-size: 18px;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
  }

  .footer-copy {
    font-size: 10px;
  }
}
